body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ededed;
  width: 100%;
}

.mention-content {
  background: rgba(7, 85, 91, 0.634);
  width: 90%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 25px;
  color: #fff;
}

/* Titre principal */
.mention-content h1 {
  font-size: clamp(20px, 8vw, 50px);
  margin-bottom: 30px;
}

/* Sous-titres */
.mention-content h2 {
  color: #0ef;
  font-size: clamp(18px, 4vw, 30px);
  margin: 25px 0 15px;
}

/* Paragraphes */
.mention-content p {
  font-size: clamp(16px, 2vw, 20px);
  line-height: 1.5;
  margin-bottom: 15px;
}

/* Liens */
.mention-content a {
  color: #0ef;
  text-decoration: none;
  transition: color 0.3s ease;
}

.mention-content a:hover {
  color: #fff;
}
